.animation-loading, .animation-loading:hover {
	background-position: center center;
	opacity: 1;
	background: url('animation-loading_64.gif') no-repeat center;//, url(bg-gray.png) repeat;
}
.animation-loading * {
  opacity: .3;
}
.animation-loading-1, .animation-loading-1:hover {
	background-position: center center;
	opacity: 1;
	background: url('animation-loading_32.gif') no-repeat center;//, url(bg-gray.png) repeat;
}
.animation-loading-1 * {
  opacity: .3;
}
.animation-loading-2, .animation-loading-2:hover {
	background-position: center center;
	opacity: 1;
	background: url('animation-loading_128.gif') no-repeat center;//, url(bg-gray.png) repeat;
}
.animation-loading-2 * {
  opacity: .3;
}
