.btn
{
  border-radius:3px;
}
 .box{
     background-color:#fff;
 }   
 .block-tabel{
     background-color:#fff;
 }

 /*[class^="icon-"], [class*=" icon-"] {                
     background-image: url("'.Yii::app()->request->baseUrl.'");                
 }*/