.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
        box-shadow: 1px 1px 3px #000000;
}

.chatboxhead {
	background-color: #005580;
	padding:2px;
	color: #ffffff;

	border-right:1px solid #005580;
	border-left:1px solid #005580;
}

.chatboxtitle:hover {
        cursor: pointer;
}

.chatboxblink {
	background-color: #529EC6;
	border-right:1px solid #529EC6;
	border-left:1px solid #529EC6;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 10px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
}

.useronline, .useroffline {
    padding:0 4px;
    margin: 1px 1px 0 0;
    border-radius: 4px;
}

.useronline {
    background-color: #D9EDF7;
    color: #000000;
}

.useroffline {
    background-color: #cccccc;
    color: #f4f4f4;
}

a.useronline:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

a.useroffline:hover {
    text-decoration: none;
    font-weight: bold;
    color: #f4f4f4;
}
