/**
 *
 * Apply Here your Custom CSS
 *
*/

/* body {
	
} */
/*1px solid #B0EAA5 buat border grafik whitesmoke

//buat header
background: #7FB35D;
border-bottom: 4px solid #6B994D;
*/
/*.btn-primary{
    color:#fff;
    background-color:#484d50;
    border-color:#484d50;f78d1d orange 609D2D ijo
    border-radius:5px;
}

.btn-primary:hover{
    color:#fff;
    background-color:#484d50;
    border-color:#484d50;f78d1d orange 609D2D ijo
    border-radius:5px;
}

.btn-danger{
    color:#fff;
    background-color:#ff8686;
    border-color:#ff8686;f78d1d orange 609D2D ijo
    border-radius:5px;
}

.btn-danger:hover{
    color:#fff;
    background-color:#DC5555;
    border-color:rgba(246, 45, 81, 1);f78d1d orange 609D2D ijo
    border-radius:5px;
}

.table > thead > tr > th, .table > thead > tr > td {
    background: #ECECEC;
    color: #FFF;
    border-bottom-width: 1px;
    color: #ffffff;
}

fieldset.box > legend.rim {
    background: #81CC74 none repeat scroll 0% 0%;
    padding: 5px 25px 5px 5px;
    color: #FFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 5px 28px 0px 0px;
    -moz-border-radius: 5px 28px 0px 0px;
    border-radius: 5px 28px 0px 0px;
    margin-left: 8px;
    margin-top: -24px;
}

legend {
    display: block;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    border: 0;
    border-bottom: 0px solid #eee;
    font-weight: normal;
}*/
