


/* LISTS */

/* 
A default margin-top/bottom for lists is NOT set in config.php - (standard browsers give outermost list a top and bottom margin).
[mPDF default CSS set in config.php only works on basic elements, cannot do selectors such as "ol ol"]
Need to add the following to do this, but also prevent margins in nested lists as per default HTML in most browsers: 
*/

ul, ol { margin-top: 0.83em; margin-bottom: 0.83em; }
ul ul, ul ol, ol ul, ol ol { margin-top: 0; margin-bottom: 0; }




/* INDEXES */
div.mpdf_index_main {
	font-family: sans-serif;
	line-height: normal;
}
div.mpdf_index_entry {
	line-height: normal;
	text-indent: -1.5em;
}
div.mpdf_index_letter {
	font-family: sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
	page-break-after: avoid; 
	margin-top: 0.3em; 
	margin-collapse: collapse;
}
a.mpdf_index_link { 
	color: #000000; 
	text-decoration: none; 
}



/* TABLE OF CONTENTS */
div.mpdf_toc {
	font-family: sans-serif;
	line-height: normal;
}
a.mpdf_toc_a  {
	text-decoration: none;
	color: black;
}
div.mpdf_toc_level_0 {		/* Whole line level 0 */
	line-height: 1.5;
	margin-left: 0;
	padding-right: 0em;	/* should match the outdent specified for ToC; 0 is default; suggested value 2em */
}
span.mpdf_toc_t_level_0 {	/* Title level 0 - may be inside <a> */
	font-weight: bold;
}
span.mpdf_toc_p_level_0 {	/* Page no. level 0 - may be inside <a> */
}
div.mpdf_toc_level_1 {		/* Whole line level 1 */
	margin-left: 2em;
	text-indent: -2em;
	padding-right: 0em;	/* should match the outdent specified for ToC; 0 is default; suggested value 2em */
}
span.mpdf_toc_t_level_1 {	/* Title level 1 */
	font-style: italic;
	font-weight: bold;
}
span.mpdf_toc_p_level_1  {	/* Page no. level 1 - may be inside <a> */
}
div.mpdf_toc_level_2 {		/* Whole line level 2 */
	margin-left: 4em;
	text-indent: -2em;
	padding-right: 0em;	/* should match the outdent specified for ToC; 0 is default; suggested value 2em */
}
span.mpdf_toc_t_level_2 {	/* Title level 2 */
}
span.mpdf_toc_p_level_2 {	/* Page no. level 2 - may be inside <a> */
}
/*
   This is a secondary default stylesheet for mPDF
   It will only parse element-level CSS here 
   Remove the comment marks below and edit as required
*/



/* 
   These values used to be the default prior to mPDF 4.2
   Altered to make appearance closer to that of browsers
   Uncomment these lines to return to behaviour prior to v4.2  
*/


/*
img { margin: 0.83em 0; vertical-align: bottom; }
table { margin: 0.5em; }
textarea { vertical-align: top; }
*/
html, body {

    font-family: calibri !important;

}


.footer .alamatfooter{
    font-size:8pt !important;
    font-family: calibri !important;
    color:black !important;
    width:75%;
    text-align:left;
}
.footer .alamatfooter_small{
    font-size:4.5pt !important;
    font-family: calibri !important;
    color:black !important;
    width:60%;
    text-align:left;
    vertical-align: bottom;
}
.footer .mottofooter {
    font-size:9pt !important;
    font-family:mistral !important;
    color:#00adef !important;
    width:25%;
    text-align:right;

}
.footer .mottofooter_small {
    font-size:7pt !important;
    font-family:mistral !important;
    color:#00adef !important;
    width:40%;
    text-align:right;
    vertical-align: bottom;

}
.footer table{
    width:100%;
}
.content,.content DIV,.content TABLE,.content TBODY,.content TFOOT,.content TR,.content TH,.content TD,.content P{
    font-size:11pt !important;
    font-family: calibri !important;
    color:black !important;
}
.content .judulcontent{
    font-size:12pt !important;
    font-family: calibri !important;
    color:black !important;
}

   @font-face {
                    font-family: 'mistral';
                    font-style: normal;
                    font-weight: normal;
                    src: local('Mistral'), url('<?php echo Yii::app()->request->baseUrl; ?>/css/font/MISTRAL.TTF') format('ttf');
                }
                @font-face {
                    font-family: 'calibri';
                    font-style: normal;
                    src: local('Calibri'), url('<?php echo Yii::app()->request->baseUrl; ?>/css/font/Calibri Regular.ttf') format('ttf');
                }
                 @font-face {
                    font-family: 'calibri_b';
                    font-style: bold;
                    src: local('calibri_b'), url('<?php echo Yii::app()->request->baseUrl; ?>/css/font/Calibri Bold.TTF') format('ttf');
                }

