html, body {

    font-family: Calibri !important;

}



.footer .alamatfooter{
    font-size:3pt !important;
    font-family: Calibri !important;
    color:black !important;
    width:70%;
    text-align:left;
}
.footer .mottofooter {
    font-size:4pt !important;
    font-family:Mistral !important;
    color:#00adef !important;
    width:30%;
    text-align:right;

}
.footer table{
    width:100%;
}
.content,.content DIV,.content TABLE,.content TBODY,.content TFOOT,.content TR,.content TH,.content TD,.content P{
    font-size:4pt !important;
    font-family: Calibri !important;
    color:black !important;
}
.content .judulcontent{
    font-size:5pt !important;
    font-family: Calibri !important;
    color:black !important;
}